.product-device {
  position: absolute;
  left: -15%;
  bottom: -15%;
  z-index: 1;
  opacity: 0.5;
}
.palante {
  z-index: 0;
}

.bg-deg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6783088235294117) 0%,
    rgba(33, 37, 41, 0.4150035014005602) 100%
  );
}
